$baseW: 750px;
@function calc750Val ($val: 750px) {
    @return 100vw * ($val / $baseW);
}
@mixin adapt-width($v1){
  width: calc750Val($v1);
  @media screen and (min-width: 750px) {
    width: $v1;
  }
}
@mixin adapt-height($v1){
  height: calc750Val($v1);
  @media screen and (min-width: 750px) {
    height: $v1;
  }
}
@mixin adapt-margin($v1: null,$v2: null,$v3: null,$v4: null){
    @if $v4 {
        margin: calc750Val($v1) calc750Val($v2) calc750Val($v3) calc750Val($v4);
    } @else if $v2 == 'auto'{
      margin: calc750Val($v1) auto calc750Val($v3) ;
    }@else if $v3 {
        margin: calc750Val($v1) calc750Val($v2) calc750Val($v3);
    } @else if $v2 {
        margin: calc750Val($v1) calc750Val($v2);
    } @else {
        margin: calc750Val($v1);
    }
    @media screen and (min-width: 750px) {
        @if $v4 {
            margin: $v1 $v2 $v3 $v4;
        } @else if $v3 {
            margin: $v1 $v2 $v3;
        } @else if $v2 {
            margin: $v1 $v2;
        } @else {
            margin: $v1;
        }  
    }
}
@mixin adapt-padding($v1: null,$v2: null,$v3: null,$v4: null){
  @if $v4 {
    padding: calc750Val($v1) calc750Val($v2) calc750Val($v3) calc750Val($v4);
  } @else if $v3 {
    padding: calc750Val($v1) calc750Val($v2) calc750Val($v3);
  } @else if $v2 {
    padding: calc750Val($v1) calc750Val($v2);
  } @else {
    padding: calc750Val($v1);
  }
  @media screen and (min-width: 750px) {
      @if $v4 {
        padding: $v1 $v2 $v3 $v4;
      } @else if $v3 {
        padding: $v1 $v2 $v3;
      } @else if $v2 {
        padding: $v1 $v2;
      } @else {
        padding: $v1;
      }  
  }
}
@mixin adapt-line-height($v1){
  line-height: calc750Val($v1);
  @media screen and (min-width: 750px) {
    line-height: $v1;
  }
}
@mixin adapt-font-size($v1){
  font-size: calc750Val($v1);
  @media screen and (min-width: 750px) {
    font-size: $v1;
  }
}
@mixin adapt-top($v1){
  top: calc750Val($v1);
  @media screen and (min-width: 750px) {
    top: $v1;
  }
}
@mixin adapt-left($v1){
  left: calc750Val($v1);
  @media screen and (min-width: 750px) {
    left: $v1;
  }
}
@mixin adapt-right($v1){
  right: calc750Val($v1);
  @media screen and (min-width: 750px) {
    right: $v1;
  }
}
@mixin adapt-bottom($v1){
  bottom: calc750Val($v1);
  @media screen and (min-width: 750px) {
    bottom: $v1;
  }
}
@mixin adapt-border-radius($v1){
  border-radius: calc750Val($v1);
  @media screen and (min-width: 750px) {
    border-radius: $v1;
  }
}
@mixin adapt-border($v1: 1px, $v2: solid, $v3: #e8e8e8){
  border-width: calc750Val($v1);
  border-style: $v2;
  border-color: $v3;
  @media screen and (min-width: 750px) {
    border-width: $v1;
    border-style: $v2;
    border-color: $v3;
  }
}
